<div>
  <mat-toolbar class='mat-elevation-z7'><span>signup</span></mat-toolbar>
  <form class='signform' (submit)="onSignupSubmit()">
    <mat-card>
      <div>
  <mat-form-field>
    <input matInput type="text" required [(ngModel)]="username" name="username" placeholder="username" autocomplete="false">
  </mat-form-field>
  </div>
  <div>
  <mat-form-field>
    <input matInput type="text" required [(ngModel)]="email" name="email" placeholder="email" autocomplete="false">
    <mat-hint>I won't sell your data</mat-hint>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput type="password" required [(ngModel)]="password" name="password" placeholder="PaSsWoRd" autocomplete="false">
    <mat-hint></mat-hint>
  </mat-form-field>
</div>

  <button mat-raised-button color="primary">Sign up!</button>

  <br><br>
  <mat-divider></mat-divider>
  <br><br>

  <a [routerLink]="['/signin']"><button mat-raised-button color="accent">Actually I want to sign in</button></a>
  </mat-card>
  </form>
</div>
