<mat-sidenav-container style="min-height: 100%;">
  <mat-sidenav mode="side" opened fixedInViewport='true'>
      <mat-nav-list>
        <a *ngIf=!authServ.isLoggedIn [routerLink]="['/signin']"><mat-list-item>Account</mat-list-item></a>
        <a *ngIf=authServ.isLoggedIn href="#" (click)="onSignoutClick()"><mat-list-item>Signout</mat-list-item></a>
        <a *ngIf=authServ.isLoggedIn [routerLink]="['/home']"><mat-list-item>Home</mat-list-item></a>
        <hr>
        <div>
          <a *ngFor='let chara of charaservice.CharaAll' [routerLink]="chara._id" (click)="loadCharacterIdAndRoom(chara)"><mat-list-item>{{chara.persona.name}}</mat-list-item></a>
      </div>
      </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
    <app-secret-socket></app-secret-socket>
  </mat-sidenav-content>

</mat-sidenav-container>
