<div class='center'>
  <mat-toolbar class='mat-elevation-z7'><span>home landing</span></mat-toolbar>

  <mat-label class='mat-h1'>make a new character</mat-label>
  <br>
  <button class='p500' mat-flat-button (click)='openDialog()'>New Chara</button>
  <mat-divider></mat-divider>

  <div>
    <br>
    <div *ngIf="charaservice.CharaSelected != undefined">
    hitpoints: <mat-form-field style='width: 4rem;'><input matInput type="number" (change)='updateThisChara()' [(ngModel)]='stranth' name='stranth'></mat-form-field><br>
    stranth: <mat-form-field style='width: 4rem;'><input matInput type="number" (change)='updateThisChara()' [(ngModel)]='stranth' name='stranth'></mat-form-field><br>
    dexterity: <mat-form-field style='width: 4rem;'><input matInput type="number" (change)='updateThisChara()' [(ngModel)]='stranth' name='stranth'></mat-form-field><br>
    constitution: <mat-form-field style='width: 4rem;'><input matInput type="number" (change)='updateThisChara()' [(ngModel)]='stranth' name='stranth'></mat-form-field><br>
    intelligence: <mat-form-field style='width: 4rem;'><input matInput type="number" (change)='updateThisChara()' [(ngModel)]='stranth' name='stranth'></mat-form-field><br>
    wisdom: <mat-form-field style='width: 4rem;'><input matInput type="number" (change)='updateThisChara()' [(ngModel)]='stranth' name='stranth'></mat-form-field><br>
    charisma: <mat-form-field style='width: 4rem;'><input matInput type="number" (change)='updateThisChara()' [(ngModel)]='stranth' name='stranth'></mat-form-field><br>
    </div>
    <br><hr><br>
    <div style='display: flex;'>

      <div>
    <mat-card style='padding: 1rem; margin: 1rem; text-align: right;'>
    sample stranth: <mat-form-field style='width: 4rem;'><input matInput type="number" (input)='updateStranth()' [(ngModel)]='stranth' name='stranth'></mat-form-field>
    </mat-card>
    <mat-card style='padding: 1rem; margin: 1rem; text-align: right;'>
    stranthMod: <mat-form-field style='width: 4rem;'><input matInput (input)='atkresult()' disabled [(ngModel)]='stranthMod' name='stranthMod'></mat-form-field>
    </mat-card>
    <mat-card style='padding: 1rem; margin: 1rem; text-align: right;'>
    charalevel: <mat-form-field style='width: 4rem;'><input matInput type="number" (input)='updateProf()' [(ngModel)]='charalevel' name='charalevel'></mat-form-field>
    </mat-card>
    <mat-card style='padding: 1rem; margin: 1rem; text-align: right;'>
    proficiencyBonus: <mat-form-field style='width: 4rem;'><input matInput (input)='atkresult()' disabled [(ngModel)]='proficiencyBonus' name='proficiencyBonus'></mat-form-field>

  </mat-card>
  <mat-card style='padding: 1rem; margin: 1rem; max-width: 26rem; text-align: right;'>
    attackBonus formula: <mat-form-field style='width: 16rem;'><input matInput (input)='atkresult()' [(ngModel)]='input1' name='input1'></mat-form-field>
  </mat-card>
  <mat-card style='padding: 1rem; margin: 1rem; max-width: 26rem; text-align: right;'>
    damage formula: <mat-form-field style='width: 16rem;'><input matInput (input)='dmgresult()' [(ngModel)]='input2' name='input2'></mat-form-field>
  </mat-card>
</div>
<div>
<br>
<p>attackBonus: {{attackBonus}}</p>
<br>
<p>damage: {{dmgformuoli}}</p>
</div>
</div>


</div>
