<div class='center'>
  <mat-toolbar><span>home landing</span></mat-toolbar>

  <mat-label class='mat-h1'>make a new character</mat-label>
  <br>
  <button class='p500' mat-flat-button (click)='openDialog()'>New Chara</button>
  <mat-divider></mat-divider>
  <mat-label class='a400' (click)='openDialog()'>a clickable label</mat-label>

  <div>
    <hr>
    stranth: <mat-form-field style='width: 4rem;'><input matInput type="number" (input)='updateStranth()' [(ngModel)]='stranth' name='stranth'></mat-form-field><br>
    stranthMod: <mat-form-field style='width: 4rem;'><input matInput (input)='atkresult()' disabled [(ngModel)]='stranthMod' name='stranthMod'></mat-form-field><br>
    charalevel: <mat-form-field style='width: 4rem;'><input matInput type="number" (input)='updateProf()' [(ngModel)]='charalevel' name='charalevel'></mat-form-field><br>
    proficiencyBonus: <mat-form-field style='width: 4rem;'><input matInput (input)='atkresult()' disabled [(ngModel)]='proficiencyBonus' name='proficiencyBonus'></mat-form-field>
    <br>
    attackBonus formula: <mat-form-field style='width: 18rem;'><input matInput (input)='atkresult()' [(ngModel)]='input1' name='input1'></mat-form-field><br>
    <br>
    damage formula: <mat-form-field style='width: 18rem;'><input matInput (input)='dmgresult()' [(ngModel)]='input2' name='input2'></mat-form-field><br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <p>attackBonus: {{attackBonus}}</p>
    <br>
    <p>damage: {{dmgformuoli}}</p>
  </div>
</div>
