<div class='dialogdiv'>
  <div><mat-form-field style='width: 100%;'><input matInput (focus)='!accentFocus' (blur)='!accentFocus' placeholder='accent color' (change)='sendFeatureDialogUpdate()' [(ngModel)]="feature.selected_color" name='feature.selected_color'></mat-form-field></div>
  <mat-card-title><mat-form-field style='width: 100%;'><input matInput placeholder='title' (focus)='!titleFocus' (blur)='!titleFocus' (change)='sendFeatureDialogUpdate()' [(ngModel)]="feature.title" name='feature.title'></mat-form-field></mat-card-title>

  <div><mat-form-field class='dialogtext'>
    <textarea matInput placeholder='description' (focus)='!descriptFocus' (blur)='!descriptFocus' (change)='sendFeatureDialogUpdate()' style='height: 20rem; overflow:hidden; resize: none;' [(ngModel)]="feature.descript" name='feature.descript'></textarea>
  </mat-form-field></div>



  <div><mat-label>buttons and stuff for attacks, saves, proficiencies, effects go here. always run a function to save stuff on close for feature dialogs</mat-label></div>
</div>
