<div class='dialogdiv'>
    <mat-card-title><input matInput [(ngModel)]="data.feature1" name='data.feature1'></mat-card-title>
  <div>
    <form (submit)="onFeatureSubmit()">

      <div><mat-form-field class='dialogtext'>
        <textarea matInput>feature.descript also goes here</textarea>
      </mat-form-field></div>

      <div><mat-label>buttons and stuff for attacks, saves, proficiencies, effects go here</mat-label></div>
      <button mat-button class='mat-elevation-z4'>always run a function on close for feature dialogs</button>
    </form>
  </div>
