<mat-toolbar><span>selected chara name</span></mat-toolbar>
<div style='background:#444444'>
  <mat-tab-group style='background:#222222' dynamicHeight="true" style="height:auto;" mat-stretch-tabs>


    <mat-tab label="overview">
      <p class='mat-display-1'>mat display 1 works</p>
      <br>
      <p>button presses: <mat-label>{{presses}}</mat-label>  </p>
      <br>
      <mat-label>button id: {{id}}</mat-label>
      <br>
      <button mat-button color='primary' (click)='increment()'>increase</button>
      <br>
      <mat-expansion-panel>
  <mat-expansion-panel-header>buttons</mat-expansion-panel-header>

      <button mat-button color='secondary' (click)='increment()'>increase</button>
      <br>
      <button mat-button (click)='increment()'>increase</button>
      <br>
      <br>
      <button mat-flat-button color='primary' (click)='increment()'>increase</button>
      <br>
      <button mat-flat-button (click)='increment()'>increase</button>
      <br>
      <button mat-flat-button color='accent' (click)='increment()'>increase</button>
      <br>
      <button mat-raised-button color='accent' (click)='increment()'>increase</button>
      <br>
      </mat-expansion-panel>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>

      </div>
      </mat-tab>
      <mat-tab label="features"></mat-tab>
  <mat-tab label="inventory"></mat-tab>
    <mat-tab label="spells"></mat-tab>
    <mat-tab label="character"></mat-tab>
  </mat-tab-group>
  </div>
