<div style='background:#444444'>
<mat-toolbar class='mat-elevation-z7'><span>selected chara name {{1+2+3}}</span></mat-toolbar>

  <mat-tab-group dynamicHeight="true" style="height:auto;" mat-stretch-tabs>


    <mat-tab label="overview"><app-tab-overview></app-tab-overview></mat-tab>
    <mat-tab label="features"><app-tab-feature></app-tab-feature></mat-tab>
    <mat-tab label="inventory"><app-tab-inventory></app-tab-inventory></mat-tab>
    <mat-tab label="spells"><app-tab-spells></app-tab-spells></mat-tab>
    <mat-tab label="persona"><app-tab-persona></app-tab-persona></mat-tab>
  </mat-tab-group>
</div>
