<div style="display:flex; flex-wrap: wrap;">
<!-- column 1 -->
<div class='columncontainer'>
  <!-- networth bar -->
  <div class='columnbox mat-elevation-z4' style='background-color: darkolivegreen;'>
    <div style='padding: 1rem;'>
      <label>Net Worth</label>
      <label style='float: right;'>{{netWorth}} gp</label>
    </div>
  </div>

  <!-- weightcarried bar -->
  <div class='columnbox mat-elevation-z4' style='background-color:darkslategrey; margin-top: 1rem;'>
    <div style='padding: 1rem;'>
      <label>Weight Carried</label>
      <label style='float: right;'>{{totalWeight}} lbs</label>
    </div>
  </div>

</div>

<!-- column 2 equipment list-->
<div class='columncontainer'>
  <!-- equipment bar -->
  <div class='columnbox mat-elevation-z4'>
    <mat-card-title class='noborders' style='padding: 1rem; background-color: rgb(77, 50, 77);'>
      Inventory
    </mat-card-title>
    <mat-card>
      <mat-card-content>

    <!-- requires attunement flag: true -->
    <div class='attunementseparatorlabel'> Attuned </div>
    <mat-divider></mat-divider>
    <div *ngFor="let item of listof_equipmentitems">
      <table *ngIf="item.attunement" style='width: 100%;'> <!-- list item -->
        <tr class='tritem'>
          <td class='number'> <!-- left column: item count -->
            <label *ngIf="item.count > 1">{{item.count}}</label>
          </td>
          <td> <!-- middle column: item name -->
            {{item.name}}
          </td>
          <td style='text-align: right; padding-right: 1rem;'> <!-- item rightside -->
            {{item.weight * item.count}} lbs
          </td>
        </tr>
        </table>

      </div>


    <!-- regular equipment -->
    <div class='attunementseparatorlabel'> Equipment </div>
    <mat-divider></mat-divider>
    <div *ngFor="let item of listof_equipmentitems">
      <table *ngIf="!item.attunement" style='width: 100%;'> <!-- list item -->
        <tr class='tritem'>
          <td style='width: 42px; padding-right: 6px;' class='number'> <!-- left column: item count -->
            <label *ngIf="item.count > 1">{{item.count}}</label>
          </td>

          <td> <!-- middle column: item name -->
            {{item.name}}
          </td>
          <td style='text-align: right; padding-right: 1rem;'> <!-- item rightside -->
            {{item.weight * item.count}} lbs
          </td>
        </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
</div>

<!-- column 3 -->
<div class='columncontainer'>
  <!-- inventory bar -->
  <div class='columnbox mat-elevation-z4'>
    <mat-card-title class='noborders' style='padding: 1rem; background-color: rgb(121, 85, 72);'>
      Carried
    </mat-card-title>
    <mat-card>
      <mat-card-content>

    <div *ngFor="let item of listof_inventoryitems">
      <table style='width: 100%;'> <!-- list item -->
        <tr class='tritem'>
          <td class='number'> <!-- left column: item count -->
            <label *ngIf="item.count > 1">{{item.count}}</label>
          </td>
          <td> <!-- middle column: item name -->
            {{item.name}}
          </td>
          <td style='text-align: right; padding-right: 1rem;'> <!-- item rightside -->
            {{item.weight * item.count}} lbs
          </td>
        </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
</div>

<!-- column 4 -->
<div class='columncontainer'>
  <!-- extra bar -->
  <div class='columnbox mat-elevation-z4'>
    <mat-card-title class='noborders' style='padding: 1rem; font-size: 20px; background-color: rgb(50, 50, 50);'>
      {{extra.name}}
    </mat-card-title>
    <mat-card>
      <mat-card-content>

    <div *ngFor="let item of listof_extraitems">
      <table style='width: 100%;'> <!-- list item -->
        <tr class='tritem'>
          <td class='number'> <!-- left column: item count -->
            <label *ngIf="item.count > 1">{{item.count}}</label>
          </td>
          <td> <!-- middle column: item name -->
            {{item.name}}
          </td>
          <td style='text-align: right; padding-right: 1rem;'> <!-- item rightside -->
            {{item.weight * item.count}} lbs
          </td>
        </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
</div>

</div>
