<div>
  <br>
  <br>
  <div class='mat-elevation-z4 floatingbox' style='min-width: 14rem; padding: 1rem; max-width: 90%; margin: 4px;'>
    Hitpoints: <mat-slider #hpbar [max]='totalHitpoints' [step]='1' [tickInterval]='totalHitpoints/4' [thumbLabel]='true' [(ngModel)]=currentHitpoints (input)='updateLocalHitpoints($event.value)' (change)='updateVal($event.value)' style='width: 90%'></mat-slider><b style='font-size: 24px;'> {{currentHitpoints}}</b>
  </div>
<div class='flexdiv' style='flex-wrap: wrap;'>

<!-- column 1 -->
<div style='min-width: 18rem; padding: 1rem;'>
  <!-- row 1 -->
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td class='statnumber strcolor' (click)="openEditingDialog('str')">{{chara.stats.str}}</td> <td rowspan='2' class='mat-display-1' style='padding-left: 1rem;'>Stranth</td>
    </tr>
        <tr class='statmodnumber strcolor'><div *ngIf="chara.stats.str < 10;else plus"></div><ng-template #plus>+</ng-template>{{chara.stats.str | modifier}}</tr>
    </table>
  </div>

  <!-- row 2 -->
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td class='statnumber dexcolor' (click)="openEditingDialog('dex')">{{chara.stats.dex}}</td> <td rowspan='2' class='mat-display-1' style='padding-left: 1rem;'>Dexterity</td>
    </tr>
        <tr class='statmodnumber dexcolor'><div *ngIf="chara.stats.dex < 10;else plus"></div><ng-template #plus>+</ng-template>{{chara.stats.dex | modifier}}</tr>
    </table>
  </div>

  <!-- row 3 -->
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td class='statnumber concolor' (click)="openEditingDialog('con')">{{chara.stats.con}}</td> <td rowspan='2' class='mat-display-1' style='padding-left: 1rem;'>Constitution</td>
    </tr>
        <tr class='statmodnumber concolor'><div *ngIf="chara.stats.con < 10;else plus"></div><ng-template #plus>+</ng-template>{{chara.stats.con | modifier}}</tr>
    </table>
  </div>

    <!-- row 4 -->
    <div class='mat-elevation-z4 flexdiv floatingbox'>
      <table style='width: 18rem; border-collapse: collapse;'>
        <tr>
          <td class='statnumber intcolor' (click)="openEditingDialog('int')">{{chara.stats.int}}</td> <td rowspan='2' class='mat-display-1' style='padding-left: 1rem;'>Intelligence</td>
      </tr>
          <tr class='statmodnumber intcolor'><div *ngIf="chara.stats.int < 10;else plus"></div><ng-template #plus>+</ng-template>{{chara.stats.int | modifier}}</tr>
      </table>
    </div>

      <!-- row 5 -->
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td class='statnumber wiscolor' (click)="openEditingDialog('wis')">{{chara.stats.wis}}</td> <td rowspan='2' class='mat-display-1' style='padding-left: 1rem;'>Wisdom</td>
    </tr>
        <tr class='statmodnumber wiscolor'><div *ngIf="chara.stats.wis < 10;else plus"></div><ng-template #plus>+</ng-template>{{chara.stats.wis | modifier}}</tr>
    </table>
  </div>

    <!-- row 6 -->
    <div class='mat-elevation-z4 flexdiv floatingbox'>
      <table style='width: 18rem; border-collapse: collapse;'>
        <tr>
          <td class='statnumber chacolor' (click)="openEditingDialog('cha')">{{chara.stats.cha}}</td> <td rowspan='2' class='mat-display-1' style='padding-left: 1rem;'>Charisma</td>
      </tr>
          <tr class='statmodnumber chacolor'><div *ngIf="chara.stats.cha < 10;else plus"></div><ng-template #plus>+</ng-template>{{chara.stats.cha | modifier}}</tr>
      </table>
    </div>

</div>



<!-- column 2 -->
<div style='min-width: 18rem; padding: 1rem;'>

  <!-- AC -->
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td class='miscnumber'>{{chara.stats.baseAC + (chara.stats.dex|modifier)}}</td> <td class='mat-display-1' style='padding-left: 1rem;'>Armor Class</td>
    </tr>
  </table>
  </div>
  <!-- speed -->
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td class='miscnumber' (click)="openEditingDialog('Speed')">{{chara.stats.speed}}</td> <td class='mat-display-1' style='padding-left: 1rem;'>Speed</td>
    </tr>
  </table>
  </div>
  <!-- initiative -->
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td class='miscnumber' (click)="openEditingDialog('Initiative Formula')"><div *ngIf="chara.stats.dex < 10;else plus"></div><ng-template #plus>+</ng-template>{{initiative}}</td> <td class='mat-display-1' style='padding-left: 1rem;'>Initiative</td>
    </tr>
  </table>
  </div>
  <!-- proficiencybonus -->
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td class='miscnumber' (click)="openEditingDialog('Proficiency Formula')"><div *ngIf="profBonus < 10;else plus"></div><ng-template #plus>+</ng-template>{{profBonus}}</td> <td class='mat-display-1' style='padding-left: 1rem;'>Proficiency Bonus</td>
    </tr>
  </table>
  </div>


</div>
<!-- column 3 -->
<div style='min-width: 18rem; padding: 1rem;'>
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td class='mat-display-1' style='text-align: center;' colspan='3'>Saving Throws</td>
      </tr>

      <tr>
        <td [ngClass]="{'strcolor': strSaveIsProficient}" class='proficientbar'></td>
        <td class='savenumberzone strcolor' (click)="openEditingDialog('Str save')"><div *ngIf="strSave < 0;else plus"></div>
          <ng-template #plus>+</ng-template>{{strSave}}</td> <td class='savename'>Strength</td>
      </tr>

      <tr>
        <td [ngClass]="{'dexcolor': dexSaveIsProficient}" class='proficientbar'></td>
        <td class='savenumberzone dexcolor' (click)="openEditingDialog('Dex save')"><div *ngIf="dexSave < 0;else plus"></div>
          <ng-template #plus>+</ng-template>{{dexSave}}</td> <td class='savename'>Dexterity</td>
      </tr>

      <tr>
        <td [ngClass]="{'concolor': conSaveIsProficient}" class='proficientbar'></td>
        <td class='savenumberzone concolor' (click)="openEditingDialog('Con save')"><div *ngIf="conSave < 0;else plus"></div>
          <ng-template #plus>+</ng-template>{{conSave}}</td> <td class='savename'>Constitution</td>
      </tr>

      <tr>
        <td [ngClass]="{'intcolor': intSaveIsProficient}" class='proficientbar'></td>
        <td class='savenumberzone intcolor' (click)="openEditingDialog('Int save')"><div *ngIf="intSave < 0;else plus"></div>
          <ng-template #plus>+</ng-template>{{intSave}}</td> <td class='savename'>Intelligence</td>
      </tr>

      <tr>
        <td [ngClass]="{'wiscolor': wisSaveIsProficient}" class='proficientbar'></td>
        <td class='savenumberzone wiscolor' (click)="openEditingDialog('Wis save')"><div *ngIf="wisSave < 0;else plus"></div>
          <ng-template #plus>+</ng-template>{{wisSave}}</td> <td class='savename'>Wisdom</td>
      </tr>

      <tr>
        <td [ngClass]="{'chacolor': chaSaveIsProficient}" class='proficientbar'></td>
        <td class='savenumberzone chacolor' (click)="openEditingDialog('Cha save')"><div *ngIf="chaSave < 0;else plus"></div>
          <ng-template #plus>+</ng-template>{{chaSave}}</td> <td class='savename'>Charisma</td>
      </tr>

    </table>
  </div>
</div>
<!-- column 4 -->
<div style='min-width: 18rem; padding: 1rem;'>
  <div class='mat-elevation-z4 flexdiv floatingbox'>
  <table style='width: 18rem; border-collapse: collapse;'>
    <tr>
      <td class='mat-display-1' style='text-align: center;' colspan='3'>Skills</td>
    </tr>

    <tr>
      <td [ngClass]="{'dexcolor': acrobaticsIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone dexcolor' (click)="openEditingDialog('acrobatics')"><div *ngIf="acrobatics < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{acrobatics}}</td> <td class='savename'>Acrobatics</td>
    </tr>

    <tr>
      <td [ngClass]="{'wiscolor': handlingIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone wiscolor' (click)="openEditingDialog('animal_handling')"><div *ngIf="handling < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{handling}}</td> <td class='savename'>Animal Handling</td>
    </tr>

    <tr>
      <td [ngClass]="{'intcolor': arcanaIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone intcolor' (click)="openEditingDialog('arcana')"><div *ngIf="arcana < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{arcana}}</td> <td class='savename'>Arcana</td>
    </tr>

    <tr>
      <td [ngClass]="{'strcolor': athleticsIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone strcolor' (click)="openEditingDialog('athletics')"><div *ngIf="athletics < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{athletics}}</td> <td class='savename'>Athletics</td>
    </tr>

    <tr>
      <td [ngClass]="{'chacolor': deceptionIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone chacolor' (click)="openEditingDialog('deception')"><div *ngIf="deception < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{deception}}</td> <td class='savename'>Deception</td>
    </tr>

    <tr>
      <td [ngClass]="{'intcolor': historyIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone intcolor' (click)="openEditingDialog('history')"><div *ngIf="history < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{history}}</td> <td class='savename'>History</td>
    </tr>

    <tr>
      <td [ngClass]="{'wiscolor': insightIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone wiscolor' (click)="openEditingDialog('insight')"><div *ngIf="insight < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{insight}}</td> <td class='savename'>Insight</td>
    </tr>

    <tr>
      <td [ngClass]="{'chacolor': intimidationIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone chacolor' (click)="openEditingDialog('intimidation')"><div *ngIf="intimidation < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{intimidation}}</td> <td class='savename'>Intimidation</td>
    </tr>

    <tr>
      <td [ngClass]="{'intcolor': investigationIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone intcolor' (click)="openEditingDialog('investigation')"><div *ngIf="investigation < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{investigation}}</td> <td class='savename'>Investigation</td>
    </tr>

    <tr>
      <td [ngClass]="{'wiscolor': medicineIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone wiscolor' (click)="openEditingDialog('medicine')"><div *ngIf="medicine < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{medicine}}</td> <td class='savename'>Medicine</td>
    </tr>

    <tr>
      <td [ngClass]="{'intcolor': natureIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone intcolor' (click)="openEditingDialog('nature')"><div *ngIf="nature < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{nature}}</td> <td class='savename'>Nature</td>
    </tr>

    <tr>
      <td [ngClass]="{'wiscolor': perceptionIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone wiscolor' (click)="openEditingDialog('perception')"><div *ngIf="perception < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{perception}}</td> <td class='savename'>Perception</td>
    </tr>

    <tr>
      <td [ngClass]="{'chacolor': performanceIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone chacolor' (click)="openEditingDialog('performance')"><div *ngIf="performance < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{performance}}</td> <td class='savename'>Performance</td>
    </tr>

    <tr>
      <td [ngClass]="{'chacolor': persuasionIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone chacolor' (click)="openEditingDialog('persuasion')"><div *ngIf="persuasion < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{persuasion}}</td> <td class='savename'>Persuasion</td>
    </tr>

    <tr>
      <td [ngClass]="{'intcolor': religionIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone intcolor' (click)="openEditingDialog('religion')"><div *ngIf="religion < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{religion}}</td> <td class='savename'>Religion</td>
    </tr>

    <tr>
      <td [ngClass]="{'dexcolor': sleightIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone dexcolor' (click)="openEditingDialog('sleight_of_hand')"><div *ngIf="sleight < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{sleight}}</td> <td class='savename'>Sleight of Hand</td>
    </tr>

    <tr>
      <td [ngClass]="{'dexcolor': stealthIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone dexcolor' (click)="openEditingDialog('stealth')"><div *ngIf="stealth < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{stealth}}</td> <td class='savename'>Stealth</td>
    </tr>

    <tr>
      <td [ngClass]="{'wiscolor': survivalIsProficient}" class='proficientbar'></td>
      <td class='skillnumberzone wiscolor' (click)="openEditingDialog('survival')"><div *ngIf="survival < 0;else plus"></div>
        <ng-template #plus>+</ng-template>{{survival}}</td> <td class='savename'>Survival</td>
    </tr>

  </table>

</div>

</div>

























<!--
<p class='mat-display-1 p300 boxshadow-4' style="max-width: 32rem;">mat display 1 works</p>
      <br>
      <p>button presses: <mat-label>{{presses}}</mat-label>  </p>
      <br>
      <mat-label class='a200'>button id: {{id}}</mat-label>
      <br>
      <button mat-button class="mat-elevation-z8" color='primary' (click)='increment()'>increase</button>
      <br>



      <mat-expansion-panel>
  <mat-expansion-panel-header>expand dong</mat-expansion-panel-header>
      <button class="mat-elevation-z2" mat-button color='secondary' (click)='increment()'>increase</button>
      <br>
      <button mat-button (click)='increment()'>increese</button>
      <br>
      <br>
      <button mat-flat-button color='primary' (click)='increment()'>inkrease</button>
      <br>
      <button mat-flat-button (click)='increment()'>incureas</button>
      <br>
      <button mat-flat-button class="mat-elevation-z2" color='accent' (click)='increment()'>REEEEEEse</button>
      <br>
      <button mat-raised-button color='accent' (click)='increment()'>increase</button>
      <br>
      <app-cole-test-button></app-cole-test-button>
      </mat-expansion-panel>



      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
      </div>
    -->
</div>
</div>
