<div class='flexdiv' style='flex-wrap: wrap;'>

<!-- column 1 -->
<div style='min-width: 18rem; padding: 1rem;'>
  <!-- row 1 -->
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td style='width: 4rem; font-size: 32px; text-align: center; background-color:rgb(124, 62, 62);'>16</td> <td rowspan='2' class='mat-display-1' style='padding-left: 1rem;'>Stranth</td>
    </tr>
        <tr style='font-size: 24px; text-align: center; background-color:rgb(124, 62, 62);'>+3</tr>
    </table>
  </div>

  <!-- row 2 -->
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td style='width: 4rem; font-size: 32px; text-align: center; background-color:rgb(66, 122, 61);'>14</td> <td rowspan='2' class='mat-display-1' style='padding-left: 1rem;'>Dexterity</td>
    </tr>
        <tr style='font-size: 24px; text-align: center; background-color:rgb(66, 122, 61);'>+2</tr>
    </table>
  </div>

  <!-- row 3 -->
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td style='width: 4rem; font-size: 32px; text-align: center; background-color:rgb(71, 5, 0);'>15</td> <td rowspan='2' class='mat-display-1' style='padding-left: 1rem;'>Constitution</td>
    </tr>
        <tr style='font-size: 24px; text-align: center; background-color:rgb(71, 5, 0);'>+2</tr>
    </table>
  </div>

    <!-- row 4 -->
    <div class='mat-elevation-z4 flexdiv floatingbox'>
      <table style='width: 18rem; border-collapse: collapse;'>
        <tr>
          <td style='width: 4rem; font-size: 32px; text-align: center; background-color:rgb(62, 103, 124);'>9</td> <td rowspan='2' class='mat-display-1' style='padding-left: 1rem;'>Intelligence</td>
      </tr>
          <tr style='font-size: 24px; text-align: center; background-color:rgb(62, 103, 124);'>-1</tr>
      </table>
    </div>

      <!-- row 5 -->
  <div class='mat-elevation-z4 flexdiv floatingbox'>
    <table style='width: 18rem; border-collapse: collapse;'>
      <tr>
        <td style='width: 4rem; font-size: 32px; text-align: center; background-color:rgb(89, 61, 122);'>13</td> <td rowspan='2' class='mat-display-1' style='padding-left: 1rem;'>Wisdom</td>
    </tr>
        <tr style='font-size: 24px; text-align: center; background-color:rgb(89, 61, 122);'>+1</tr>
    </table>
  </div>

    <!-- row 6 -->
    <div class='mat-elevation-z4 flexdiv floatingbox'>
      <table style='width: 18rem; border-collapse: collapse;'>
        <tr>
          <td style='width: 4rem; font-size: 32px; text-align: center; background-color:rgb(122, 122, 61);'>11</td> <td rowspan='2' class='mat-display-1' style='padding-left: 1rem;'>Charisma</td>
      </tr>
          <tr style='font-size: 24px; text-align: center; background-color:rgb(122, 122, 61);'>+0</tr>
      </table>
    </div>

</div>



<!-- column 2 -->
<div style='min-width: 18rem; padding: 1rem;'>
  <div class='mat-elevation-z4' style='padding: 1rem;'>
    speed ac initiative stuff goes here
  </div>
</div>
<!-- column 3 -->
<div style='min-width: 18rem; padding: 1rem;'>
  <div class='mat-elevation-z4' style='padding: 1rem;'>
  saving throws go here
  </div>
</div>
<!-- column 4 -->
<div style='min-width: 18rem; padding: 1rem;'>
  <div class='mat-elevation-z4' style='padding: 1rem;'>
  skills go here
</div>
</div>

























<!--
<p class='mat-display-1 p300 boxshadow-4' style="max-width: 32rem;">mat display 1 works</p>
      <br>
      <p>button presses: <mat-label>{{presses}}</mat-label>  </p>
      <br>
      <mat-label class='a200'>button id: {{id}}</mat-label>
      <br>
      <button mat-button class="mat-elevation-z8" color='primary' (click)='increment()'>increase</button>
      <br>



      <mat-expansion-panel>
  <mat-expansion-panel-header>expand dong</mat-expansion-panel-header>
      <button class="mat-elevation-z2" mat-button color='secondary' (click)='increment()'>increase</button>
      <br>
      <button mat-button (click)='increment()'>increese</button>
      <br>
      <br>
      <button mat-flat-button color='primary' (click)='increment()'>inkrease</button>
      <br>
      <button mat-flat-button (click)='increment()'>incureas</button>
      <br>
      <button mat-flat-button class="mat-elevation-z2" color='accent' (click)='increment()'>REEEEEEse</button>
      <br>
      <button mat-raised-button color='accent' (click)='increment()'>increase</button>
      <br>
      <app-cole-test-button></app-cole-test-button>
      </mat-expansion-panel>



      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
      </div>
    -->
</div>
