/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { background-color: #444444; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p{ color: #ffffff;}
span {font-size: larger; height:50%; }
mat-card { max-width: 16rem; }

/*
mat-form-field {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}
*/
