<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
      <mat-selection-list>item1</mat-selection-list>
      <mat-selection-list>item2</mat-selection-list>
      <mat-selection-list>item3</mat-selection-list>
      <mat-selection-list>item4</mat-selection-list>

    <mat-selection-list>
      <mat-list-item>item1</mat-list-item>
      <mat-list-item>item2</mat-list-item>
      <mat-list-item>item3</mat-list-item>
      <mat-list-item>item4</mat-list-item>

    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <mat-card-title class='mycardtitle'>selected character name</mat-card-title> -->
    <mat-toolbar><span>selected chara name</span></mat-toolbar>
    <app-myc></app-myc>
  </mat-sidenav-content>

</mat-sidenav-container>
