<div class="outterWraper">

  <div class='personaCard'>
    <!-- row 1 -->
    <div class='mat-elevation-z4 innerWrapper'  (click)="openPersonaDialog('Name')">
      <div class="header nameColor">Name</div>
      <div class="content"> {{chara.persona.name}} </div>
    </div>
  </div>
  <div class='personaCard'>
    <!-- row 1 -->
    <div class='mat-elevation-z4 innerWrapper'  (click)="openPersonaDialog('Gender')">
      <div class="header genderColor">Gender</div>
      <div class="content"> {{chara.persona.gender}} </div>
    </div>
  </div>
  <div class='personaCard'>
    <!-- row 1 -->
    <div class='mat-elevation-z4 innerWrapper'  (click)="openPersonaDialog('Description')">
      <div class="header descriptionColor">Description</div>
      <div class="content"> {{chara.persona.description}} </div>
    </div>
  </div>
  <div class='personaCard'>
    <!-- row 1 -->
    <div class='mat-elevation-z4 innerWrapper'  (click)="openPersonaDialog('Personality')">
      <div class="header personalityColor">Personality</div>
      <div class="content"> {{chara.persona.personality}} </div>
    </div>
  </div>
  <div class='personaCard'>
    <!-- row 1 -->
    <div class='mat-elevation-z4 innerWrapper' (click)="openPersonaDialog('Ideals')">
      <div class="header idealsColor">Ideals</div>
      <div class="content"> {{chara.persona.ideals}} </div>
    </div>
  </div>
  <div class='personaCard'>
    <!-- row 1 -->
    <div class='mat-elevation-z4 innerWrapper' (click)="openPersonaDialog('Bonds')">
      <div class="header bondsColor">Bonds</div>
      <div class="content"> {{chara.persona.bonds}} </div>
    </div>
  </div>
  <div class='personaCard'>
    <!-- row 1 -->
    <div class='mat-elevation-z4 innerWrapper' (click)="openPersonaDialog('Race')">
      <div class="header raceColor">Race</div>
      <div class="content"> {{chara.persona.race}} </div>
    </div>
  </div>
  <div class='personaCard'>
    <!-- row 1 -->
    <div class='mat-elevation-z4 innerWrapper' (click)="openPersonaDialog('Backgrounds')">
      <div class="header backgroundColor">Backgrounds</div>
      <div class="content"> {{chara.persona.background}} </div>
    </div>
  </div>

</div>
