<div>
  <form #charaForm="ngForm" (ngSubmit)="onSubmit(charaForm)">
    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="charaService.selectedChara._id"/>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="name"
        #name="ngModel"
        [(ngModel)]="charaService.selectedChara.name"
        placeholder="character name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="character name"
      />
    </mat-form-field>
    <hr>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="character name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="character name"
      />
    </mat-form-field>
  </form>
  <div mat-dialog-content>
    <mat-form-field class="my-card">
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field class="my-card">
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field class="my-card">
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field class="my-card">
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field class="my-card">
      <input matInput type="text" />
    </mat-form-field>
  </div>
</div>
