<!--<div *ngFor='let thisfeature of charaservice.FeatureAll'> -->

  <table>
    <!-- left column for attacks and saves only -->
    <tr>
      <td style='vertical-align: top;'>

    <div class='atkandsavediv'>
      <div class='mat-elevation-z8' style='background-color: rgb(140, 50, 50);'>
      <mat-card-title style='padding: 8px;'>
        Attacks
      </mat-card-title>
      <mat-card class='atkandsavecard'>
        <mat-card-content style='padding: 6px;'>
          <label>Items</label>
          <mat-divider></mat-divider>
          <!-- item attacks get listed here -->
          <table *ngFor="let attack of itemattacks" class='tableitem'>
            <tr><td rowspan='3' class='attackbonus'>
              <label *ngIf="nonRegularFormula(attack.atkbonus) > -1">+</label>
              {{nonRegularFormula(attack.atkbonus)}}</td> <td class='originatorname'>{{attack.name}}</td>
              </tr>
              <tr>
                <td class='damagedice'>
                  {{nonRegularFormula(attack.damage)}}
                </td>
              </tr>
              <tr *ngIf="attack.details != ''">
                <td class='damagedice'>
                  {{attack.details}}
                </td>
              </tr>
            </table>
            <label>Features</label>
            <mat-divider></mat-divider>
            <!-- feature attacks go here -->
            <table *ngFor="let attack of featureattacks" class='tableitem'>
              <tr><td rowspan='3' class='attackbonus'>
                <label *ngIf="nonRegularFormula(attack.atkbonus) > -1">+</label>
                {{nonRegularFormula(attack.atkbonus)}}</td> <td class='originatorname'>{{attack.name}}</td>
                </tr>
                <tr>
                  <td class='damagedice'>
                    {{nonRegularFormula(attack.damage)}}
                  </td>
                </tr>
                <tr *ngIf="attack.details != ''">
                  <td class='damagedice'>
                    {{attack.details}}
                  </td>
                </tr>
              </table>
              <label>Spells</label>
              <mat-divider></mat-divider>
              <!-- spell attacks go here -->
<!--              <table *ngFor="let attack of spellattacks" class='tableitem'>
                <tr><td rowspan='3' class='attackbonus'>
                  <label *ngIf="nonRegularFormula(attack.atkbonus) > -1">+</label>
                  {{nonRegularFormula(attack.atkbonus)}}</td> <td class='originatorname'>{{attack.name}}</td>
                  </tr>
                  <tr>
                    <td class='damagedice'>
                      {{nonRegularFormula(attack.damage)}}
                    </td>
                  </tr>
                  <tr *ngIf="attack.details != ''">
                    <td class='damagedice'>
                      {{attack.details}}
                    </td>
                  </tr>
                </table>
-->
        </mat-card-content>
      </mat-card>
      </div>
    </div>

    <div class='atkandsavediv'>
      <div class='mat-elevation-z8' style='background-color: rgb(130, 60, 165);'>
      <mat-card-title style='padding: 8px;'>
        Saving throws
      </mat-card-title>
      <mat-card class='atkandsavecard'>
        <mat-card-content style='padding: 6px;'>


          <label>Items</label>
          <mat-divider></mat-divider>
          <!-- item attacks get listed here -->
          <table *ngFor="let save of itemsaves" class='tableitem'>
            <tr><td rowspan='3' class='attackbonus'>
              {{nonRegularFormula(save.saveDC)}}</td> <td class='originatorname'>{{save.name}}</td>
              </tr>
              <tr>
                <td class='damagedice'>
                  {{nonRegularFormula(save.damage)}}
                </td>
              </tr>
              <tr *ngIf="save.details != ''">
                <td class='damagedice'>
                  {{save.details}}
                </td>
              </tr>
            </table>
            <label>Features</label>
            <mat-divider></mat-divider>
            <!-- feature attacks go here -->
            <table *ngFor="let save of featuresaves" class='tableitem'>
              <tr><td rowspan='3' class='attackbonus'>
                {{nonRegularFormula(save.saveDC)}}</td> <td class='originatorname'>{{save.name}}</td>
                </tr>
                <tr>
                  <td class='damagedice'>
                    {{nonRegularFormula(save.damage)}}
                  </td>
                </tr>
                <tr *ngIf="save.details != ''">
                  <td class='damagedice'>
                    {{save.details}}
                  </td>
                </tr>
              </table>
              <label>Spells</label>
              <mat-divider></mat-divider>
              <!-- spell attacks go here -->
<!--              <table *ngFor="let save of spellsaves" class='tableitem'>
                <tr><td rowspan='3' class='attackbonus'>
                  {{nonRegularFormula(save.saveDC)}}</td> <td class='originatorname'>{{save.name}}</td>
                  </tr>
                  <tr>
                    <td class='damagedice'>
                      {{nonRegularFormula(save.damage)}}
                    </td>
                  </tr>
                  <tr *ngIf="save.details != ''">
                    <td class='damagedice'>
                      {{save.details}}
                    </td>
                  </tr>
                </table>
-->
        </mat-card-content>
      </mat-card>
      </div>
    </div>

    <div><button mat-button (click)='makeNewFeature()'>make new features</button></div>

  </td>






<!-- regular features go here -->

  <td style='vertical-align: top;'>
<div style='display: flex; flex-wrap: wrap;'>

<div *ngFor="let feature of features">
  <div style='max-width: 20rem; width: 20rem; padding: 6px;'>
    <div class='mat-elevation-z8' [style.background-color]="feature.selected_color">
    <mat-card-title style='padding: 6px;' (click)='openFeatureDialog(feature)'>
      <label style='padding:0px; margin: 0px;'>{{feature.title}}</label>
    </mat-card-title>

    <mat-card style='padding: 0px; border-radius: 0px'>
      <mat-card-content style='padding: 1rem; font-size: 16px; white-space: pre-wrap;'>
        {{nonRegularFormula(feature.descript)}}
      </mat-card-content>
    </mat-card>
    </div>
  </div>
</div>



</div>
</td>
</tr>
</table>
