<!--<div *ngFor='let thisfeature of charaservice.FeatureAll'> -->

  <table>
    <!-- left column for attacks and saves only -->
    <tr>
      <td style='vertical-align: top;'>

    <div style='width: 18rem; padding: 1rem;'>
      <div class='mat-elevation-z8' style='background-color: rgb(0, 27, 27);'>
      <mat-card-title style='padding: 6px;' (click)='openFeatureDialog(thisfeature)'>
        Attacks
      </mat-card-title>
      <mat-card style='padding: 0px; border-radius: 0px'>
        <mat-card-content style='padding: 1rem;'>
          all attacks go here
        </mat-card-content>
      </mat-card>
      </div>
    </div>

    <div style='width: 18rem; padding: 1rem;'>
      <div class='mat-elevation-z8' style='background-color: rgb(0, 27, 27);'>
      <mat-card-title style='padding: 6px;' (click)='openFeatureDialog(thisfeature)'>
        Saves
      </mat-card-title>
      <mat-card style='padding: 0px; border-radius: 0px'>
        <mat-card-content style='padding: 1rem;'>
          all saves go here
        </mat-card-content>
      </mat-card>
      </div>
    </div>

  </td>






<!-- regular features go here -->

  <td style='vertical-align: top;'>
<div style='display: flex; flex-wrap: wrap;'>
<div>
  <div style='max-width: 18rem; width: 18rem; padding: 1rem;'>
    <div class='mat-elevation-z8' style='background-color: rgb(127, 0, 0);'>
    <mat-card-title style='padding: 6px;' (click)='openFeatureDialog(thisfeature)'>
     {{feature1}}
    </mat-card-title>

    <mat-card style='padding: 0px; border-radius: 0px'>
      <mat-card-content style='padding: 1rem;'>
        {{feature1descript}}
      </mat-card-content>
    </mat-card>
    </div>
  </div>
</div>


<div>
  <div style='max-width: 18rem; width: 18rem; padding: 1rem;'>
    <div class='mat-elevation-z8' style='background-color: steelblue;'>
    <mat-card-title style='padding: 6px;' (click)='openFeatureDialog(thisfeature)'>
      this feature title is goign to be super long, how does the title bar compensate or does it cut off at some point
    </mat-card-title>

    <mat-card style='padding: 0px; border-radius: 0px'>
      <mat-card-content style='padding: 1rem;'>
        feature.descript
      </mat-card-content>
      <mat-card-actions style='padding-left: 1rem;'><button class='mat-elevation-z4' mat-button>use</button><button class='mat-elevation-z4' mat-button>reset</button></mat-card-actions>
    </mat-card>
    </div>
  </div>
</div>

<div>
  <div style='max-width: 18rem; width: 18rem; padding: 1rem;'>
    <div class='mat-elevation-z8' style='background-color: tomato;'>
    <mat-card-title style='padding: 6px;' (click)='openFeatureDialog(thisfeature)'>
      feature.title    <-- interpolate this
    </mat-card-title>

    <mat-card style='padding: 0px; border-radius: 0px'>
      <mat-card-content style='padding: 1rem;'>
        the quick brown fox jumps over the lazy dog the quick brown fox jumps over the lazy dog the quick brown fox jumps over the lazy dog the quick brown fox jumps over the lazy dog the quick brown fox jumps over the lazy dog the quick brown fox jumps over the lazy dog
      </mat-card-content>
      <mat-card-actions style='padding-left: 1rem;'><button class='mat-elevation-z4' mat-button>use</button><button class='mat-elevation-z4' mat-button>reset</button></mat-card-actions>
    </mat-card>
    </div>
  </div>
</div>

<div>
  <div style='max-width: 18rem; width: 18rem; padding: 1rem;'>
    <div class='mat-elevation-z8' style='background-color: blueviolet;'>
    <mat-card-title style='padding: 6px;' (click)='openFeatureDialog(thisfeature)'>
      feature.title    <-- interpolate this
    </mat-card-title>

    <mat-card style='padding: 0px; border-radius: 0px'>
      <mat-card-content style='padding: 1rem;'>
        feature.descript
      </mat-card-content>
      <mat-card-actions style='padding-left: 1rem;'><button class='mat-elevation-z4' mat-button>use</button><button class='mat-elevation-z4' mat-button>reset</button></mat-card-actions>
    </mat-card>
    </div>
  </div>
</div>

</div>
</td>
</tr>
</table>
